/* style.css */

* {
    background-color: rgb(240, 238, 137);
    font-family: Helvetica, Arial, sans-serif;
}

.title {
    font-size: 48px;
    text-align: center;
}

.recipes {
    font-size: 30px;
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}